body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #18283b;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #8392a5;
}

#chart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 10px;
    background-color: lightblue;
    font-size: 18px;
    font-weight: bold;
}

#numbers {
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.row span {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 2px;
    background-color: lightgray;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
}

/* From Uiverse.io by RiccardoRapelli */
.switch {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch #input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196f3;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 0;
    overflow: hidden;
}

.sun-moon {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: yellow;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#input:checked + .slider {
    background-color: black;
}

#input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

#input:checked + .slider .sun-moon {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: white;
}

.moon-dot {
    opacity: 0;
    transition: 0.4s;
    fill: gray;
}

#input:checked + .slider .sun-moon .moon-dot {
    opacity: 1;
}

.slider.round {
    border-radius: 20px;
}

.slider.round .sun-moon {
    border-radius: 50%;
}

#moon-dot-1 {
    left: 5px;
    top: 1.5px;
    position: absolute;
    width: 3px;
    height: 3px;
    z-index: 4;
}

#moon-dot-2 {
    left: 1px;
    top: 5px;
    position: absolute;
    width: 5px;
    height: 5px;
    z-index: 4;
}

#moon-dot-3 {
    left: 8px;
    top: 9px;
    position: absolute;
    width: 1.5px;
    height: 1.5px;
    z-index: 4;
}

#light-ray-1 {
    left: -4px;
    top: -4px;
    position: absolute;
    width: 21.5px;
    height: 21.5px;
    z-index: -1;
    fill: white;
    opacity: 10%;
}

#light-ray-2 {
    left: -25%;
    top: -25%;
    position: absolute;
    width: 27.5px;
    height: 27.5px;
    z-index: -1;
    fill: white;
    opacity: 10%;
}

#light-ray-3 {
    left: -9px;
    top: -9px;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: -1;
    fill: white;
    opacity: 10%;
}

.cloud-light {
    position: absolute;
    fill: #eee;
    animation-name: cloud-move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.cloud-dark {
    position: absolute;
    fill: #ccc;
    animation-name: cloud-move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

#cloud-1 {
    left: 15px;
    top: 7.5px;
    width: 20px;
}

#cloud-2 {
    left: 22px;
    top: 5px;
    width: 10px;
}

#cloud-3 {
    left: 9px;
    top: 12px;
    width: 15px;
}

#cloud-4 {
    left: 18px;
    top: 9px;
    width: 20px;
}

#cloud-5 {
    left: 24px;
    top: 7px;
    width: 10px;
}

#cloud-6 {
    left: 11px;
    top: 13px;
    width: 15px;
}

@keyframes cloud-move {
    0% {
        transform: translateX(0px);
    }

    40% {
        transform: translateX(2px);
    }

    80% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0px);
    }
}

.stars {
    transform: translateY(-16px);
    opacity: 0;
    transition: 0.4s;
}

.star {
    fill: white;
    position: absolute;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    animation-name: star-twinkle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#input:checked + .slider .stars {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

#star-1 {
    width: 10px;
    top: 1px;
    left: 1.5px;
    animation-delay: 0.3s;
}

#star-2 {
    width: 3px;
    top: 8px;
    left: 1.5px;
}

#star-3 {
    width: 6px;
    top: 10px;
    left: 5px;
    animation-delay: 0.6s;
}

#star-4 {
    width: 9px;
    top: 0px;
    left: 9px;
    animation-delay: 1.3s;
}

@keyframes star-twinkle {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .circle {
    background-color: #333333;
}

body.dark-mode .row span {
    background-color: #555555;
}



#nav-toggle:checked {
  & ~ #nav-header {
    width: calc(var(--navbar-width-min) - 16px);
  }

  & ~#nav-content, & ~ #nav-footer {
    width: var(--navbar-width-min);
  }
  
  & ~ #nav-header {
    #nav-title {
      opacity: 0;
      pointer-events: none;
      transition: opacity .1s;
    }

    label[for="nav-toggle"] {
      left: calc(50% - 8px);
      transform: translate(-50%);
    }
    
    #nav-toggle-burger {
      background: var(--navbar-light-primary);

      &:before, &::after {
        width: 16px;
        background: var(--navbar-light-secondary);
        transform: translate(0, 0) rotate(0deg);
      }
    }
  }

  & ~ #nav-content {
    .nav-button {
      span {
        opacity: 0;
        transition: opacity .1s;
      }
      
      .fas {
        min-width: calc(100% - 16px);
      }
    }
  }
  
  & ~ #nav-footer {    
    #nav-footer-avatar {
      margin-left: 0;
      left: 50%;
      transform: translate(-50%);
    }

    #nav-footer-titlebox, label[for="nav-footer-toggle"] {
      opacity: 0;
      transition: opacity .1s;
      pointer-events: none;
    }
  }
}

#nav-bar {
  position: absolute;
  left: 1vw;
  top: 1vw;
  height: calc(100% - 2vw);
  background: var(--navbar-dark-primary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: var(--navbar-light-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  user-select: none;
}

#nav-bar hr {
  margin: 0;
  position: relative;
  left: 16px;
  width: calc(100% - 32px);
  border: none;
  border-top: solid 1px var(--navbar-dark-secondary);
}

#nav-bar a {
  color: inherit;
  text-decoration: inherit;
}

#nav-bar input[type="checkbox"] {
  display: none;
}

#nav-header {
  position: relative;
  width: var(--navbar-width);
  left: 16px;
  width: calc(var(--navbar-width) - 16px);
  min-height: 80px;
  background: var(--navbar-dark-primary);
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width .2s;
}

#nav-header hr {
  position: absolute;
  bottom: 0;
}

#nav-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}

label[for="nav-toggle"] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#nav-toggle-burger {
  position: relative;
  width: 16px;
  height: 2px;
  background: var(--navbar-dark-primary);
  border-radius: 99px;
  transition: background .2s;
}

#nav-toggle-burger:before, #nav-toggle-burger:after {
  content: '';
  position: absolute;
  top: -6px;
  width: 10px;
  height: 2px;
  background: var(--navbar-light-primary);
  border-radius: 99px;
  transform: translate(2px, 8px) rotate(30deg);
  transition: .2s;
}

#nav-toggle-burger:after {
  top: 6px;
  transform: translate(2px, -8px) rotate(-30deg);
}

#nav-content {
  margin: -16px 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: var(--navbar-width);
  background: var(--navbar-dark-primary);
  box-shadow: 0 0 0 16px var(--navbar-dark-primary);
  direction: rtl;
  overflow-x: hidden;
  transition: width .2s;
}

#nav-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#nav-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #D62929;
}

#nav-content::-webkit-scrollbar-button {
  height: 16px;
}

#nav-content-highlight {
  position: absolute;
  left: 16px;
  top: -54 - 16px;
  width: calc(100% - 16px);
  height: 54px;
  background: var(--background);
  background-attachment: fixed;
  border-radius: 16px 0 0 16px;
  transition: top .2s;
}

#nav-content-highlight:before, #nav-content-highlight:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 16px 16px var(--background);
}

#nav-content-highlight:after {
  top: 100%;
  box-shadow: 16px -16px var(--background);
}

.nav-button {
  position: relative;
  margin-left: 16px;
  height: 54px;
  display: flex;
  align-items: center;
  color: var(--navbar-light-secondary);
  direction: ltr;
  cursor: pointer;
  z-index: 1;
  transition: color .2s;
}

.nav-button span {
  transition: opacity 1s;
}

.nav-button .fas {
  transition: min-width .2s;
}

@for $i from 1 through 8 {
  .nav-button:nth-of-type(#{$i}):hover {
    color: var(--navbar-dark-primary);

    & ~ #nav-content-highlight {
      top: ($i - 1) * 54 + 16px;
    }
  }
}

#nav-bar .fas {
  min-width: 3rem;
  text-align: center;
}

#nav-footer {
  position: relative;
  width: var(--navbar-width);
  height: 54px;
  background: var(--navbar-dark-secondary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: width .2s, height .2s;
}

#nav-footer-heading {
  position: relative;
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
}

#nav-footer-avatar {
  position: relative;
  margin: 11px 0 11px 16px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(0);
  transition: .2s;
}

#nav-footer-avatar img {
  height: 100%;
}

#nav-footer-titlebox {
  position: relative;
  margin-left: 16px;
  width: 10px;
  display: flex;
  flex-direction: column;
  transition: opacity 1s;
}

#nav-footer-subtitle {
  color: var(--navbar-light-secondary);
  font-size: .6rem;
}

#nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer {
  height: 30%;
  min-height: 54px;
}

#nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer label[for="nav-footer-toggle"] {
  transform: rotate(180deg);
}

label[for="nav-footer-toggle"] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform .2s, opacity .2s;
}

#nav-footer-content {
  margin: 0 16px 16px 16px;
  border-top: solid 1px var(--navbar-light-secondary);
  padding: 16px 0;
  color: var(--navbar-light-secondary);
  font-size: .8rem;
  overflow: auto;
}

#nav-footer-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#nav-footer-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #D62929;
}